<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535458354990-hc9vcfep2altevrdotu6m72kl31piuuv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535458354990-hc9vcfep2altevrdotu6m72kl31piuuv</string>
	<key>API_KEY</key>
	<string>AIzaSyBDZ3s4JnCk26Ii4VG7MfZygkTujpQQBL8</string>
	<key>GCM_SENDER_ID</key>
	<string>535458354990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Adrian.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-1d17d</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-1d17d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535458354990:ios:0fc2530b9b3f607086ccbf</string>
</dict>
</plist>