<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277115269386-00rmv5sjebviaih50l2b77jgtkuno168.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277115269386-00rmv5sjebviaih50l2b77jgtkuno168</string>
	<key>API_KEY</key>
	<string>AIzaSyAU-crjKfTvmhPbZ5ppOhZzxKY9h-DNtxs</string>
	<key>GCM_SENDER_ID</key>
	<string>277115269386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Adrian.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-9492e</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-9492e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277115269386:ios:82e402579d389e509dcaf3</string>
</dict>
</plist>